<h1>Pokémons</h1>
<hr/>

<app-tabs></app-tabs>
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" 
        [ngClass]="{ 'active': currentTab === 'tab-pokemons' }"
        (click)="currentTab = 'tab-pokemons'"
         href="#">
         Pokémons
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" 
        [ngClass]="{ 'active': currentTab === 'tab-favorites' }"
        (click)="currentTab = 'tab-favorites'"
         href="#">
         Favorites
      </a>
    </li>
  </ul>